<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{headline}"></title>
  </head>
  <body>
  
  	<h1 th:text="#{hello.user(${endUserName})}"></h1>
  	<h2 th:text="${appName}"></h2>
  	<h3 th:text="${appDescription}"></h3>
  	<ol>
  		<li th:each="description : ${scopeDescriptions}" th:text="${description}"></li>
  	</ol>
    
  	<form id="decisionForm" th:action="@{${replyTo}}" method="post">
  		
  		<input type="hidden" name="response_type" id="response_type" th:value="${response_type}" />
  		<input type="hidden" name="client_id" id="client_id" th:value="${client_id}" />
  		<input type="hidden" name="redirect_uri" id="redirect_uri" th:value="${redirect_uri}" />
  		<input type="hidden" name="scope" id="scope" th:value="${scope}" />
  		<input type="hidden" name="state" id="state" th:value="${state}" />
  		<input type="hidden" name="session_authenticity_token" id="session_authenticity_token"
  			th:value="${session_authenticity_token}" />
  		
  		<input type="radio" name="oauthDecision" value="allow" checked />
  		<span th:text="#{oauthDecision.allow}"></span>
  		<input type="radio" name="oauthDecision" value="deny" />
  		<span th:text="#{oauthDecision.deny}"></span>
  		<input type="submit" />
  	</form>
  	
  	<div th:insert="~{html/footer :: copy}"></div>
  </body>
</html>