<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title th:text="#{headline}"></title>
	</head>
	<body onload="document.frmLogin.username.focus();">
	
		<h1 th:text="${appName}"></h1>
		<span th:if="${isError}" th:text="#{login.error}" style="color:red"></span>
		
		<form name="frmLogin" action="/oauth2/login" method="POST">
			<span th:text="#{login.username}"></span><input type="text" name="username" value=""><br />
			<span th:text="#{login.password}"></span><input type="password" name="password" /><br />
			<input name="submit" type="submit" value="Login"/>
		</form>
		
		<div th:insert="~{html/footer :: copy}"></div>
	</body>
</html>