<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="#{headline}">This is title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <span th:text="${responseType}">responseType</span><br />
    <span th:text="${clientId}">clientId</span><br />
    <span th:text="${redirectUri}">redirectUri</span><br />
    <span th:text="${scope}">scope</span><br />
    <span th:text="${state}">state</span><br />
    <span th:text="${cauthenticityToken}">authenticityToken</span><br />
    <span th:text="${appDescription}">appDescription</span><br />
    <span th:text="${appName}">appName</span><br />
    <span th:text="${endUserName}">endUserName</span><br />
    <span th:text="${replyTo}">replyTo</span><br />
  </body>
</html>