<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="#{headline}">This is title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    error=<span th:text="${error}">error</span><br />
    errorDescription=<span th:text="${errorDescription}">errorDescription</span><br />
    errorUri=<span th:text="${errorUri}">errorUri</span><br />
    state=<span th:text="${state}">state</span><br />
  </body>
</html>